<h1><%= Stocks.Category%></h1>
<hr>
<h3>Description of Stock: <%= Stocks.Description%></h3>
<h3>Share Amount: <%= Stocks.Avalue%></h3>
<h3>Purchase Price: <%= Stocks.Adate%></h3>
<h3>Recent Amount: <%= Stocks.Recent_value%></h3>
<h3>Recent Price: <%= Stocks.Recent_date%></h3>

