<h1><%= Nonstock.Name%></h1>
<hr>
<h3>Symbol: <%= Nonstock.Symbol%></h3>
<h3>Share Amount: <%= Nonstock.Share_amount%></h3>
<h3>Purchase Price: <%= Nonstock.price%></h3>
<h3>Date of Purchase: <%= Nonstock.Date_of_purchase%></h3>

