<h1><%= customer.name%></h1>
<hr>
<h3>Address: <%= customer.Address%></h3>
<h3>City: <%= customer.City%></h3>
<h3>State: <%= customer.State%></h3>
<h3>Zip Code: <%= customer.Zipcode%></h3>
<h3>Email: <%= customer.email%></h3>
<h3>Phone Number: <%= customer.Phone%></h3>
<h3>Cellphone: <%= customer.Cell%></h3>
